.header {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        background-color: #dc1e37; 
        color: white; 
        padding: 20px; 
        
    }
    .sepet-icon {
        cursor: pointer; 
        transition: transform 0.2s; 
    }
    
    .sepet-icon:hover {
        transform: scale(1.1); 
    }

.banner {
        width: 100%;
        height: 200px;
        background-color: #dc1e37; 
        color: white; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px; 
        
    }
    .banner h2 {
        font-size: 2rem;
        margin: 0;
    }
    
    .banner p {
        font-size: 1.2rem;
        margin: 10px 0 0;
    }
    .banner-button{
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #ffffff;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 20px;

    }
    .banner-button:hover {
        cursor: pointer;
        background-color: #bab5b5;
      }
    
